<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @cat.age %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cat.color %>
</p>

<%= link_to 'Edit', edit_cat_path(@cat) %> |
<%= link_to 'Back', cats_path %>


<%= link_to "Refresh Cats Index", cats_url %>

<br/>

<h2>Create a new cat here</h2>

<form id='string_image_form' onsubmit="send_docs(this); return false;">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="file">Attachment</label>
  <input type="file" name="file" id="attachment">
  <br/>
  <input type="submit">
</form>
